<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="user_form" th:object="${userJoin}">
        <ul class="user_form" >
            <!-- 이메일 -->
            <li class="rows">
                <input type="text" name="userId" th:field="*{userEmail}" th:placeholder="#{userEmail}">
                <div class="error" th:each="err : ${#fields.errors('userEmail')}" th:text="${err}"></div>
            </li>
            <!-- 비밀번호 -->
            <li class="rows">
                <input type="password" name="userPw" th:field="*{userPw}" th:placeholder="#{userPw}">
                <div class="error" th:each="err : ${#fields.errors('userPw')}" th:text="${err}"></div>
            </li>
            <!-- 비밀번호 확인 -->
            <li class="rows">
                <input type="password" name="userPwCk" th:field="*{userPwCk}" th:placeholder="#{userPwCk}">
                <div class="error" th:each="err : ${#fields.errors('userPwCk')}" th:text="${err}"></div>
            </li>
            <!-- 닉네임 -->
            <li class="rows">
                <input type="text" name="text" th:field="*{userNickNm}" th:placeholder="#{userNickNm}">
                <div class="error" th:each="err : ${#fields.errors('userNickNm')}" th:text="${err}"></div>
            </li>
            <!-- 회원명 -->
            <li class="rows">
                <input type="text" name="userNm" th:field="*{userNm}" th:placeholder="#{userNm}">
                <div class="error" th:each="err : ${#fields.errors('userNm')}" th:text="${err}"></div>
            </li>
            <!-- 전화번호 -->
            <li class="rows">
                <input type="text" name="cellPhone" th:field="*{cellphone}" th:placeholder="#{cellPhone}">
                <div class="error" th:each="err : ${#fields.errors('cellphone')}" th:text="${err}"></div>
            </li>
            <!-- 생년월일 -->
            <li class="rows">
                <input type="date" name="birth" th:min="${minDate}" th:field="*{birth}" th:placeholder="#{birth}">
            </li>
            <!-- 성별 -->
            <li class="rows">
                <label th:text="#{gender}">성별</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio"  th:field="*{gender}" name="gender" value="MAN" id="gender-male">
                    <label class="form-check-label" for="gender-male">남성</label>

                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" th:field="*{gender}" name="gender" value="WOMAN" id="gender-female">
                    <label class="form-check-label" for="gender-female">여성</label>
                </div>
            </li>
        </ul>
    </th:block>
</html>