<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<section layout:fragment="content">
    <nav th:replace="~{admin/user/_submenu::menus}"></nav>
    <form method="post" th:action="@{/admin/user}">
        <div role="region" aria-label="data table" tabindex="0" class="primary">
            <table>
                <thead>
                    <tr>
                        <th class = "checkbox">
                            <input type="checkbox">
                        </th>
                        <th>회원번호</th>
                        <th>이메일</th>
                        <th>회원명</th>
                        <th>회원구분</th>
                        <th>가입일시</th>
                        <th>탈퇴일시</th>
                        <th>이용제한</th>
                        <th>관리</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!-- 체크 박스 -->
                        <td>
                            <input type="checkbox">
                        </td>
                        <!-- 회원 번호 -->
                        <td>1</td>
                        <!-- 이메일 -->
                        <td>hy010309@naver.com</td>
                        <!-- 회원명 -->
                        <td>구댕</td>
                        <!-- 회원구분 -->
                        <td>관리자</td>
                        <!-- 가입일시 -->
                        <td>2023-04-15</td>
                        <!-- 탈퇴일시 -->
                        <td></td>
                        <!-- 이용제한 -->
                        <td></td>
                        <!-- 관리 -->
                        <td>
                            <a th:href="@{/admin/user/manage/study}" class="btn2">
                                스터디보기</a>
                            <a th:href="@{/admin/user/manage}" class="btn2">
                                이용관리</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</section>
</html>