<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<section layout:fragment="content">
    <nav th:replace="~{admin/user/_submenu::menus}"></nav>
    <form method="post" th:action="@{/admin/user}">
        <table border="1">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox">
                    </th>
                    <th>회원번호</th>
                    <th>이메일</th>
                    <th>회원명</th>
                    <th>회원구분</th>
                    <th>가입일시</th>
                    <th>탈퇴일시</th>
                    <td>이용제한</td>
                    <th>관리</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!-- 체크 박스 -->
                    <td>
                        <input type="checkbox">
                    </td>
                    <!-- 회원 번호 -->
                    <td></td>
                    <!-- 이메일 -->
                    <td></td>
                    <!-- 회원명 -->
                    <td></td>
                    <!-- 회원구분 -->
                    <td></td>
                    <!-- 가입일시 -->
                    <td></td>
                    <!-- 탈퇴일시 -->
                    <td></td>
                    <!-- 이용제한 -->
                    <td></td>
                    <!-- 관리 -->
                    <td>
                        <a class="btn2">스터디보기</a>
                        <a class="btn2">이용관리</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</section>
</html>