<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title th:if="${pageTitle != null}" th:text="${pageTitle}"></title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/front/css/mypage_style.css}">
    <link th:each="cssFile : ${addCss}" rel="stylesheet" type="text/css"
          th:href="@{/front/css/{file}.css(file=${cssFile})}">
    <th:block layout:fragment="addCss"></th:block>

    <script th:src="@{/front/js/common.js}"></script>
    <script th:each="jsFile : ${addScript}" th:src="@{/front/js/{file}.js(file=${jsFile})}"></script>
    <th:block layout:fragment="addScript"></th:block>
</head>
<body>
<header th:replace="~{front/outlines/header::common}"></header>

<main>
    <!-- 왼쪽에 있는 사이드 바 부분 -->
    <aside th:replace="~{front/mypage/_side::menus}"></aside>

    <!-- 이곳이 메인 부분 -> 이곳에 넣어주여야 함 -->
    <section id="main_content" layout:fragment="content"></section>
</main>


<footer th:replace="~{front/outlines/footer::common}"></footer>
</body>
</html>