<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<section layout:fragment="content">
    <nav th:replace="~{admin/cs/_submenu::menus}"></nav>
    <form method="post" th:action="@{/admin/cs/view}">
        <div role="region" aria-label="data table" tabindex="0" class="primary">
            <table id = "list">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox">
                        </th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            <input type="checkbox">
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</section>
</html>