<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<section layout:fragment="content">
    <form method="post" th:action="@{/user/community/register}">
        <div class="category">
            <label for="category">카테고리</label>
            <div>
                <select id="category" autocomplete="category" name="category">
                    <option value>카테고리를 선택해주세요.</option>
                    <option value="qna">질문과답변</option>
                    <option value="free">자유게시판</option>
                </select>
            </div>
        </div>
        <div class="title">
            <label for="bId">제목</label>
            <input type="text" id="bId" name="bId" placeholder="제목을 입력하세요.">
        </div>
        <div class="tags">
            태그 -
            <span>내용을 대표하는 태그를 입력해주세요.</span>
            <div>
                <input type="text" name="tags" id="tags" placeholder="태그를 입력해주세요.">
            </div>
        </div>
        <div class="content">
            <label>내용</label>
        </div>
        <div aria-placeholder="내용을 입력해주세요.">
            <textarea name="content" id="content"></textarea>
            <!-- 에디터 추가 -->
        </div>
        <div class="btn">
            <button type="button" class="btn1">취소</button>
            <button type="button" class="btn1">등록</button>
        </div>
    </form>
</section>
</html>