<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<section layout:fragment="content">
  <form class="form" method="post" th:action="@{/user/community/save}" autocomplete="off">
    <th:block th:replace="~{front/community/_configForm::form}"></th:block>
    <div class="btn">
      <button type="button" class="btn1">
        <a th:href="@{user/community}">취소하기</a>
      </button>
      <button type="submit" class="submit_btn">수정하기</button>
    </div>
  </form>
</section>
</html>