<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<section layout:fragment="content">
    <nav th:replace="~{admin/study/_submenu::menus}"></nav>
    <h1>관리자 승인상태처리</h1>
    <form class='form' method="post" th:action="@{/admin/board/save}" autocomplete="off">
        <th:block th:replace="~{admin/study/_form::form}"></th:block>
    </form>
    <div>
        <button type="button" class="btn1">수정</button>
        <button type="button" class="btn1">승인</button>
        <button type="button" class="btn1">미승인</button>
    </div>
</section>
</html>