<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<section layout:fragment="content">

    <nav th:replace="~{admin/study/_submenu::menus}"></nav>

    <div role="region" aria-label="data table" tabindex="0" class="primary">
        <table>
            <thead>
                <tr>
                    <th class="checkbox">
                        <input type="checkbox">
                    </th>
                    <th>스터디 코드</th>
                    <th>스터디명</th>
                    <th>카테고리</th>
                    <th>회원명</th>
                    <th>이메일</th>
                    <th>개설신청일시</th>
                    <th>승인상태</th>
                    <th>처리일시</th>
                    <th>잔여자리수</th>
                    <th>비고란</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="study: ${studies}" th:object="${studyConfig}" >
                    <td>
                        <input type="checkbox" name="studyCode" th:value="*{studyCode}">
                    </td>
                    <td th:text="*{studyCode}"></td>
                    <td th:text="*{category}"></td>
                    <td ></td>
                    <td ></td>
                    <td  th:text="*{requestDt}"></td>
                    <td th:text="*{approveStatus}"></td>
                    <td th:text="*{regStatusDt}"></td>
                    <td th:text="*{remainSeat}"></td>
                    <td th:if="*{approveStatus == 'APPROVE'}" >
                        <a th:href="@{admin/study/update/{studyCode}(studyCode=*{studyCode})}" class="btn2">스터디관리</a>
                        <a th:href="#" class="btn2">회원관리</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</section>
</html>