<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="form" th:object="${studyConfig}" >
    <div class="error" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>
    <dl>
        <dt>스터디코드</dt>
        <dd>
            <th:block th:if="${mode != null && mode == 'update' }">
                [[*{studyCode}]]
                <input type="hidden" name="bId" th:field="*{bId}">
            </th:block>
            <input th:unless="${mode != null && mode == 'update' }" type="text" name="studyCode" th:field="*{studyCode}">
            <div class="error" th:each="err :${#fields.errors('studyCode')}" th:text="${err}"></div>
        </dd>
    </dl>
    <dl>
        <dt>
            <select name="stCategory">
                <option value="scNm">---카테고리---</option>
                <option value="a">a</option>
                <option value="b">b</option>
                <option value="c">c</option>
            </select>
        </dt>
        <dd>
            <input type="text" name="studyNm" placeholder="스터디명을 입력하세요." th:field="*{studyNm}">
            <div class="error" th:each="err : ${#fields.errors('studyNm')}" th:text="${err}"></div>
        </dd>
    </dl>
    <dl>
        <dt>회원정보</dt>
        <dd></dd>
    </dl>
    <dl>
        <dt>신청최대 인원수</dt>
        <dd>
            <input type="radio" name="limit" value="1" id="limit_1">
            <label for="limit_1">
                제한있음
                <input type="number" name="limit"  th:fields="*{maxMember}">
            </label>
            <input type="radio" name="limit" value="0" id="limit_0" th:fields="*{maxMember}">
            <label for="limit_0">
                제한없음
            </label>
        </dd>
    </dl>
    <dl>
        <dt>스터디 주당횟수</dt>
        <dd>
            <input type="radio" name="numOfWeek" value="once" id="num_1" checked="checked" th:fields="*{numOfWeek}">
            <label for="num_1">
                주1회
            </label>
            <input type="radio" name="numOfWeek" value="twice" id="num_2" th:fields="*{numOfWeek}">
            <label for="num_2">
                주2회
            </label>
            <input type="radio" name="numOfWeek" value="three" id="num_3" th:fields="*{numOfWeek}">
            <label for="num_3">
                주3회
            </label>
            <input type="radio" name="numOfWeek" value="four" id="num_4" th:fields="*{numOfWeek}">
            <label for="num_4">
                주4회이상
            </label>
        </dd>
    </dl>
    <dl>
        <dt>지역</dt>

        <dd>
            <input type="radio" name="regionType" value="true" id="online">
            <label for="online">
                온라인
            </label>
            <input type="radio" name="regionType" value="false" id="offline">
            <label for="offline">
                오프라인
                <select name="addressDo" class="ajax_sido">
                    <option value="">- 시도 선택 -</option>
                    <option th:each="sido : ${sidoList}" th:value="${sido}" th:text="${sido}"></option>
                </select>
                <select name="addressSiGunGu" class="ajax_gigugun">
                    <option value="">- 시구군 선택 -</option>
                </select>
            </label>
        </dd>
    </dl>
    <dl>
        <dt>메인사진</dt>
        <dd>
            <button type="button">파일 업로드</button>
        </dd>
    </dl>
    <dl>
        <dt>한줄소개글</dt>
        <dd>
            <input type="text">
        </dd>
    </dl>
    <dl>
        <dt>소개글</dt>
        <dd>
            <!--에디터 추가 -->
            <textarea name="introduction"></textarea>
            <button type="button"> 파일 업로드</button>
        </dd>
    </dl>

</th:block>
</html>