<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="form" th:object="${boardConfig}">
    <div class="error" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>
    <div class="small-title">일반 설정</div>
    <table class="table">
        <tr>
            <th>게시판ID</th>
            <td>
                <th:block th:if="${mode != null && mode == 'update'}">
                    <!-- 모드가 수정일 때는 수정이 보이고 -->
                    <!-- 수정이면 게시판 아이디 보여주기 -->
                    [[*{bId}]]
                    <input type="hidden" name="bId" th:field="*{bId}">
                </th:block>
                <input th:unless="${mode != null && mode == 'update'}" type="text" name="bId" th:field="*{bId}">
                <!-- 반대의 경우는 (등록일 때는) 보이지 않음 -->
                <div class="error" th:each="err : ${#fields.errors('bId')}" th:text="${err}"></div>
            </td>
        </tr>
        <tr>
            <th>게시판명</th>
            <td>
                <input type="text" name="boardNm" th:field="*{boardNm}">
                <div class="error" th:each="err : ${#fields.errors('boardNm')}" th:text="${err}"></div>
            </td>
        </tr>
        <tr>
            <th>사용여부</th>
            <td>
                <input type="radio" name="isUse" value="1" id="isUse1" th:field="*{isUse}" checked>
                <label for="isUse1">사용</label>
                <input type="radio" name="isUse" value="0" id="isUse0" th:field="*{isUse}">
                <label for="isUse0">미사용</label>
            </td>
        </tr>
        <tr>
            <th>페이지 당 게시글 수</th>
            <td>
                <input type="number" name="rowsPerPage" th:field="*{rowsPerPage}">
                <div class="error" th:each="err : ${#fields.errors('rowsPerPage')}" th:text="${err}"></div>
            </td>
        </tr>
        <tr>
            <th>게시글 하단에 목록노출</th>
            <td>
                <input type="radio" name="useViewList" value="1" id="useViewList_1" th:field="*{useViewList}">
                <label for="useViewList_1">사용</label>
                <input type="radio" name="useViewList" value="0" id="useViewList_0" th:field="*{useViewList}" checked>
                <label for="useViewList_1">미사용</label>
            </td>
        </tr>
    </table>
    <div class="small-title">분류설정</div>
    <table class="table">
        <tr>
            <th>분류</th>
            <td>
                <textarea name="category" th:field="*{category}" rows="10" placeholder="분류 여러개인경우 엔터키를 눌러서 입력하세요."></textarea>
            </td>
        </tr>
    </table>

    <div class="small-title">기능설정</div>
    <table class="table">
        <tr>
            <th>출력구분</th>
            <td>
                <input type="radio" name="viewType" value="ADMIN" id="viewType_ADMIN" th:field="*{viewType}" checked>
                <label for="viewType_ADMIN">관리자페이지</label>
                <input type="radio" name="viewType" value="USER" id="viewType_USER" th:field="*{viewType}">
                <label for="viewType_USER">회원페이지</label>
            </td>
        </tr>
        <tr>
            <th>에디터</th>
            <td>
                <input type="radio" name="useEditor" value="1" id="useEditor1" th:field="*{useEditor}" checked>
                <label for="useEditor1">사용</label>
                <input type="radio" name="useEditor" value="0" id="useEditor0" th:field="*{useEditor}">
                <label for="useEditor0">미사용</label>
            </td>
        </tr>
        <tr>
            <th>파일첨부사용</th>
            <td>
                <input type="radio" name="useFileAttach" value="1" id="useFileAttach1" checked>
                <label for="useFileAttach1">사용</label>
                <input type="radio" name="useFileAttach" value="0" id="useFileAttach0">
                <label for="useFileAttach0">미사용</label>
            </td>
        </tr>
        <tr>
            <th>이미지첨부</th>
            <td>
                <input type="radio" name="useImageAttach" value="1" id="useImageAttach_1" th:field="*{useImageAttach}" checked>
                <label for="useImageAttach_1">사용</label>
                <input type="radio" name="useImageAttach" value="0" id="useImageAttach_0" th:field="*{useImageAttach}">
                <label for="useImageAttach_0">미사용</label>
            </td>
        </tr>
        <tr>
            <th>댓글 사용</th>
            <td>
                <input type="radio" name="useComment" value="1" id="useComment1" th:field="*{useComment}" checked>
                <label for="useComment1">사용</label>
                <input type="radio" name="useComment" value="0" id="useComment0" th:field="*{useComment}">
                <label for="useComment0">미사용</label>
            </td>
        </tr>
        <tr>
            <th>글 작성 후 이동</th>
            <td>
                <input type="radio" name="afterWriteTarget" value="VIEW" id="afterWriteTarget_VIEW" th:field="*{afterWriteTarget}" checked>
                <label for="afterWriteTarget_VIEW">게시글</label>
                <input type="radio" name="afterWriteTarget" value="LIST" id="afterWriteTarget_LIST" th:field="*{afterWriteTarget}">
                <label for="afterWriteTarget_LIST">목록</label>
            </td>
        </tr>
        <tr>
            <th>게시판 스킨</th>
            <td>
            <select name="skin" th:field="*{skin}">
                <option value="DEFAULT" >기본 게시판</option>
                <option value="GALLERY">갤러리 게시판</option>
                <option value="QNA">질문과 답변</option>
                <option value="REVIEW">후기 게시판</option>
            </select>
                <button type="button" class="btn1"><i class="xi-cog"></i>스킨관리</button>
                <div class="error" th:each="err : ${#fields.errors('skin')}" th:text="${err}"></div>
            </td>
        </tr>
<!--        <tr>-->
<!--            <th>후기게시판여부</th>-->
<!--            <td>-->
<!--                <input type="radio" name="isReview" value="1" id="isReview1" th:field="*{isReview}" checked>-->
<!--                <label for="isReview1">사용</label>-->
<!--                <input type="radio" name="isReview" value="0" id="isReview0" th:field="*{isReview}">-->
<!--                <label for="isReview0">미사용</label>-->
<!--            </td>-->
<!--        </tr>-->
    </table>
</th:block>
</html>