<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<section layout:fragment="content">
    <nav th:replace="~{admin/board/_submenu::menus}"></nav>

    <form class="form" method="post" th:action="@{/admin/board/save}" autocomplete="off">
        <th:block th:replace="~{admin/board/_form::form}"></th:block>
        <div class="btn">
        <button type="submit" class="submit_btn">등록하기</button>
        <button type="button" class="submit_btn">
            <a th:href="@{admin/board}">취소하기</a>
        </button>
        </div>
    </form>
</section>
</html>