<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<section layout:fragment="content">
    <nav th:replace="~{admin/board/_submenu::menus}"></nav>
    <form method="post" th:action="@{/admin/board}">
        <!-- 게시판 목록 S -->
        <div role="region" aria-label="data table" tabindex="0" class="primary">
            <div class="middle-title">게시판 목록</div>
            <table id="list">
                <thead>
                <tr>
                    <th class="checkbox">
                        <input type="checkbox">
                    </th>
                    <th>게시판ID</th>
                    <th>게시판명</th>
                    <th>처리일시</th>
                    <th>처리자</th>
                    <th>사용여부</th>
                    <th>비고</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="config : ${configs}" th:object="${config}">
                    <td>
                        <input type="checkbox" name="bId" th:value="*{bId}">
                    </td>
                    <td><a th:href="@{/admin/board/update/{id}(id=*{bId})}" th:text="*{bId}"></a></td>
                    <td th:text="*{boardNm}"></td>
                    <td th:text="${createdAt}"></td>
                    <!--베이스엔티티에 있는 생성일시를 넣으려면 어떻게 해야하는지?-->
                    <td></td>
                    <td th:text="*{Use}"></td>
                    <td>
                        <button class="btn1">
                            <a th:href="@{/admin/board/update/{id}(id=*{bId})}">설정 수정</a>
                        </button>
                        <button class="btn1">
                            <a href="#">미리보기</a> <!-- 사용자 페이지 해당 카테고리로 이동 -->
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- div 태그 안에 table을 넣어놔서 삭제, 수정하기 버튼은 따로 css 주세요! (대윤) -->
        <div class="btn">
            <button class="btn1" type="button">삭제하기</button>
        </div>
        <!-- 게시판 목록 E -->
    </form>
</section>
</html>