<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<section layout:fragment="content">
    <nav th:replace="~{admin/board/_submenu::menus}"></nav>

    <form method="post" th:action="@{/admin/board}" autocomplete="off">
        <input type="hidden" name="mode" value="update">
        <!-- update가 있으면 수정, 없으면 추가 -->
        <th:block th:replace="~{admin/board/_form::form}"></th:block>
        <button type="submit" class="submit_btn">수정하기</button>
    </form>
</section>
</html>