.body-study-list main { min-height: 700px; }
.body-study-list main > form { display: flex; }
.body-study-list main > form > ul { width: 190px; margin-right: 20px; border: 1px solid #e4e4e4; }
.body-study-list main > form .list_contents { flex-grow: 1; }
.body-study-list main > form > ul li+li {  border-top: 1px solid #e4e4e4; }
.body-study-list main > form > ul li > label { width: 100%; height: 53px; line-height: 53px; color: #595959; font-weight: bold; font-size: 16px; padding: 0 20px; background-image: none; }
.body-study-list main > form > ul li > input[type='radio']:checked+label { background-image: none; background: #00c471; color: #fff; }
.top_search { display: flex; justify-content: space-between; }
.top_search .search_box { display: flex; width: 267px; height: 35px; border: 1px solid #ced4da; border-radius: 8px; overflow: hidden; }
.top_search .search_box input[type='text'] { width: 222px; border: 0; height: 33px; padding: 0 15px; border: 0; }
.top_search .search_box button { flex-grow: 1; background-color: #f1f3f5; border: 0; color: #495057; font-weight: bold; cursor: pointer;border-left: 1px solid #ced4da; }

.study_items { display: flex; flex-wrap: wrap; margin-bottom: 20px; }
.study_items > li { width: calc(100% / 4 - 8px); box-shadow: 2px 2px 5px #d5d5d5; margin-bottom: 10px; margin-left: 15px; padding: 10px; border-radius: 5px; }
.study_items > li:nth-of-type(4n+1) { margin-left: 0; }


.study_items .image { height: 150px; margin-bottom: 20px; }
.study_items .tit { font-weight: 700;  margin-bottom: 0; line-height: 1.5em; height: 3rem; font-size: 1rem; overflow: hidden; text-overflow: ellipsis; display: -webkit-box;-webkit-line-clamp: 2; -webkit-box-orient: vertical; white-space: pre-wrap; }
.study_items .info_txt { color: #7d7d7d; font-size: 12px; margin: 2px 0; }
