<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="common">
    <nav class="menus">
        <div class="inner layout_width">
            <section class="left">
                <a th:href="@{/user/study/register}" th:text="#{menus.study.create}">스터디 만들기</a>
                <a href="#" th:text="#{menus.study.join}">스터디 함께해요</a>
                <a th:href="@{/user/community}" th:text="#{menus.community}">커뮤니티</a>
            </section>
            <section class="right">
                <form name='sSearch' method="get" th:action="@{/study/list}" autocomplete="off">
                    <input type="text" name="skey" th:value="${skey}">
                    <button type="submit">
                        <i class="xi-search"></i>
                    </button>
                </form>
                <div class="buttons">
                    <th:block sec:authorize="isAuthenticated()">
                        <a th:href="@{/user/logout}" th:text="#{user.logout}" class="btn1">로그아웃</a>
                        <a th:href="@{/user/mypage}" th:text="#{mypage}" class="btn1 red">마이페이지</a>
                    </th:block>
                    <th:block sec:authorize="isAnonymous()">
                        <a th:href="@{/user/login}" th:text="#{user.login}" class="btn1">로그인</a>
                        <a th:href="@{/user/join}" th:text="#{user.join}" class="btn1 red">회원가입</a>
                    </th:block>
                </div>
            </section>
        </div>
    </nav>
</header>
</html>